@model TAU.Website.Models.Custom_Blocks.WhitePaperViewModel
@using Microsoft.Extensions.Options
@using TAU.Website
@inject IOptions<GoogleReCaptchaConfig> GoogleRecaptchaConfig

@{
    Layout = null;
}
<button type="button" class="btn btn-info" onclick="displayWhitePaperForm()">White Paper</button>

<div class="modal fade" id="whitePaperModal" tabindex="-1" role="dialog" aria-labelledby="whitePaperModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whitePaperModalLabel">White Paper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="whitePaperReturnStatus">
                <form id="whitePaperForm" class="needs-validation" novalidate>
                    <div class="form-group row">
                        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whitePaperName" asp-for="Name" placeholder="Name" name="Name" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Company" class="col-sm-2 col-form-label">Company</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whitePaperCompany" asp-for="Company" placeholder="Company" name="Company" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whitePaperEmail" asp-for="Email" placeholder="Email" name="Email" required pattern="^([a-zA-Z0-9_\-\.]+)@@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                            <div class="invalid-feedback">Not a correct email address.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Phone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whitePaperPhone" asp-for="Phone" placeholder="Phone" name="Phone" required pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$">
                            <div class="invalid-feedback">Not a correct phone number.</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Position" class="col-sm-2 col-form-label">Position</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="whitePaperPosition" asp-for="Position" placeholder="Position" name="Position" required>
                            <div class="invalid-feedback">Please fill out this field.</div>
                        </div>
                    </div>
                    <div>
                        <input type="hidden" id="whitePaperReCaptchaToken" asp-for="Token" name="Token"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitWhitePaper()">Submit</button>
            </div>
        </div>
    </div>
</div>


<script>   
    function displayWhitePaperForm(){
        var form = $("#whitePaperForm")[0]
        var modal = $('#whitePaperModal').modal('show');
        
        modal.modal('show')
        modal.on("hidden.bs.modal",function()
        {
            form.reset();
            form.classList.remove('was-validated')
        });
    }
    
    function submitWhitePaper() {
        var form = $("#whitePaperForm")[0];
        form.classList.add('was-validated')
        if (!form.checkValidity()){
            return;
        }
        grecaptcha.ready(function() {
            grecaptcha.execute('@GoogleRecaptchaConfig.Value.SiteKey', {action: 'submit'}).then(function(token) {
                $("#whitePaperReCaptchaToken").val(token);
                var data = $("#whitePaperForm").serialize();
                $.ajax({
                    type: 'POST',
                    url: '/WhitePaper/PostWhitePaper',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: data,
                    success: function (result) {
                        $('#whitePaperModal').modal('hide')
                        form.reset();
                        form.classList.remove('was-validated');
                    },
                    error: function () {
                        $('#whitePaperModal').modal('hide')
                        form.reset();
                        form.classList.remove('was-validated');
                    }
                })
            });
        });
    }
    
    function closeModal(){
        var form = $("#whitePaperForm")[0];
        form.reset();
        form.classList.remove('was-validated')
    }
</script>