@model TAU.Website.Models.Custom_Blocks.WhitePaperViewModel
@using Microsoft.Extensions.Options
@using TAU.Website
@inject IOptions<GoogleReCaptchaConfig> GoogleRecaptchaConfig

@{
    Layout = null;
}
<h1>White paper</h1>

@using (Html.BeginForm("PostWhitePaper", "WhitePaper", FormMethod.Post))
{
    <div>
        <label asp-for="Name">Name</label>
        <input type="text" id="whitePaperName" asp-for="Name" name="Name">
    </div>
    <div>
        <label asp-for="Company">Company</label>
        <input type="text" id="whitePaperCompany" asp-for="Company" name="Company">
    </div>
    <div>
        <label asp-for="Email">Email</label>
        <input type="text" id="whitePaperEmail" asp-for="Email" name="Email">
    </div>
    <div>
        <label asp-for="Phone">Phone</label>
        <input type="text" id="whitePaperPhone" asp-for="Phone" name="Phone">
    </div>
    <div>
        <label asp-for="Position">Position</label>
        <input type="text" id="whitePaperPosition" asp-for="Position" name="Position">
    </div>
    <div>
        <input type="hidden" id="whitePaperReCaptchaToken" asp-for="Token" name="Token"/>
    </div>
    <div>
        <input type="submit" value="Subscribe"/>
    </div>
}

<script>
    $(function(){
      grecaptcha.ready(function() {
        grecaptcha.execute('@GoogleRecaptchaConfig.Value.SiteKey', {action: 'submit'}).then(function(token) {
            document.getElementById("whitePaperReCaptchaToken").value = token;
        });
      });
    })
</script>